body {
    background-image: url('../images/background.jpg');
    margin: 0px;
    padding: 0px;
}

.container {
    width: 70%;
    margin-left: 15%;
    clear: both;
    overflow: auto;
    margin-bottom: 60px;
    background-color: #ffffff;
}


#head {
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
}

header {
    position: absolute;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 250px;
    top: 70px;
    left: 15%;
}

ul {
    list-style-type: none;
    position: relative;
    bottom: 90px;
    right: 15%;
}

li {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #777777;
    float: right;
    border-right: 1px solid #666666;
}

li:last-child {
    border-left: none;
}

li:first-child {
    border-right: none;
}

li a {
    text-align: center;
    padding: 10px 12px;
}

li a:hover {
    background-color: #4aaaa5;
}

#contents {
    background-color: #ffffff;
    border-color: #dddddd;
    font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    line-height: 30px;
    padding: 20px;
    color: #777777;
}

#aboutme {
    color: #4aaaa5;
}

img {
    float: left;
    padding: 20px;
}

footer {
    background-color: #666666;
    color: #777777;
    text-align: center;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 40px;
    margin-bottom: 0;
    border-top: 5px solid #4aaaa5;
}

.work{
    width: 200px;
    overflow: auto;
    float: left;
    margin: 20px 0 25px;
    position: relative;
    padding: 20px;
}

.work:nth-child(even) {
 margin-right: 40px;
}

.work h3 {
     position: absolute;
     bottom: 20px;
     margin-bottom: 20;
     width: 200px;
     color: #fff;
     text-align: center;
     line-height: 30px;
     font-weight: 300;
     background: #4aaaa5;
     right: 0;

}

input {
    width: 100%;
    margin: 5px 0;
}

.inputArea {
    margin: 5px 0 10px;
}

.submit {
    font-size: 16px;
    color: white;
    padding: 10px;
    background-color: #4aaaa5;
    text-align: center;
    border-radius: 4px;

}

.messageBox {
    height: 100px;
}

@media screen and (max-width: 980px)

@media screen and (max-width: 768px)

@media screen and (max-width: 640px)